# macOS
.DS_Store

# Processing build files
*.class
*.jar
*.ser
/bin/
/build/
/output/
/out/
/*.pde~
/*.tmp

# Processing exported app folders
/application.macos/
/application.windows/
/application.linux/

# Processing data (large media)
data/*.mp3
data/*.wav
data/*.aiff
data/*.mp4
data/*.mov

# Python
__pycache__/
*.pyc
env/
venv/
*.egg-info/

# Logs
*.log

# Misc
*.zip
*.tmp
